// Defines local font files

@font-face {
  font-family: "Frutiger";
  font-style: bold;
  font-weight: 600;
  src: url("../../assets/fonts/Frutiger_bold.woff") format("woff");
}

@font-face {
  font-family: "Frutiger";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Frutiger.woff") format("woff");
}
